body {
  background: transparent url(http://static.tumblr.com/ts2nqrf/Iayl8dtss/bg.jpg);
  color: red;
}
body {
	font: normal 13px;
	position: relative;
	margin: 0;
}
#content {
 margin: 0 auto;
 width: 80%;
}
.font {
			font-weight: normal;
			font-style: normal;
			line-height:normal;
			font-family: 'wf_SegoeUI', sans-serif;
			font-size-adjust: 0.89;
		}
