/* MyriadProRegular */
@font-face {
    font-family: 'MyriadProRegular';
    src: url('http://aon-cdn.googlecode.com/files/myriadpro-regular_0.eot');
    src: url('http://aon-cdn.googlecode.com/files/myriadpro-regular_0.eot') format('embedded-opentype'),
         url('http://aon-cdn.googlecode.com/files/myriadpro-regular_0.woff') format('woff'),
         url('http://aon-cdn.googlecode.com/files/myriadpro-regular_0.ttf') format('truetype'),
         url('http://aon-cdn.googlecode.com/files/myriadpro-regular_0.svg#MyriadProRegular') format('svg');
    font-weight:normal;
    font-style:normal
}


/* Bebas */
@font-face {
	font-family: 'BebasRegular';
	src: url('https://aon-cdn.googlecode.com/svn/fonts/bebas/bebas___-webfont.eot');
	src: local('BebasRegular'), url('https://aon-cdn.googlecode.com/svn/fonts/bebas/bebas___-webfont.woff') format('woff'), url('https://aon-cdn.googlecode.com/svn/fonts/bebas/bebas___-webfont.ttf') format('truetype'), url('https://aon-cdn.googlecode.com/svn/fonts/bebas/bebas___-webfont.svg#webfontQP81fmen') format('svg');
}


/*@font-face {
  font-family: 'BebasRegular';
  font-style: normal;
  font-weight: 400;
  src: local('BebasRegular'), url(https://aon-cdn.googlecode.com/svn/fonts/bebas/bebas___-webfont.woff) format('woff');
}
*/

/* MyriadProRegular */
/*@font-face {
  font-family: 'MyriadProRegular';
  font-style: normal;
  font-weight: 400;
  src: local('MyriadProRegular'), url(http://aon-cdn.googlecode.com/files/MyriadProRegular.woff) format('woff');
}*/


/*YK*/
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff) format('woff');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 700;
  src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/We_iSDqttE3etzfdfhuPRWwXwFHHZlCwprwJOQ-Se7k.woff) format('woff');
}
/* ubuntu */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}

/* Microsoft Segoe */
@font-face{
   font-family:'wf_SegoeUILight';
   src:url('http://i.s-microsoft.com/fonts/Segoe-UI/East-European/Light/latest.eot');
   src:url('http://i.s-microsoft.com/fonts/Segoe-UI/East-European/Light/latest.eot?#iefix') format('embedded-opentype'),
       url('http://i.s-microsoft.com/fonts/Segoe-UI/East-European/Light/latest.woff') format('woff'),
       url('http://i.s-microsoft.com/fonts/Segoe-UI/East-European/Light/latest.ttf') format('truetype'),
       url('http://i.s-microsoft.com/fonts/Segoe-UI/East-European/Light/latest.svg#web') format('svg');
   font-weight:normal;
   font-style:normal;
}
@font-face{
   font-family:'MSHPIconsRegular';
   src:url('http://i.s-microsoft.com/fonts/homepage/icons/mshpicons-regular-webfont.eot');
   src:url('http://i.s-microsoft.com/fonts/homepage/icons/mshpicons-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://i.s-microsoft.com/fonts/homepage/icons/mshpicons-regular-webfont.woff') format('woff'),
       url('http://i.s-microsoft.com/fonts/homepage/icons/mshpicons-regular-webfont.ttf') format('truetype'),
       url('http://i.s-microsoft.com/fonts/homepage/icons/mshpicons-regular-webfont.svg#web') format('svg');
   font-weight:normal;
   font-style:normal;
}
@font-face{
   font-family:'wf_SegoeUI';
   src:url('http://i.s-microsoft.com/fonts/Segoe-UI/East-European/Normal/latest.eot');
   src:url('http://i.s-microsoft.com/fonts/Segoe-UI/East-European/Normal/latest.eot?#iefix') format('embedded-opentype'),
       url('http://i.s-microsoft.com/fonts/Segoe-UI/East-European/Normal/latest.woff') format('woff'),
       url('http://i.s-microsoft.com/fonts/Segoe-UI/East-European/Normal/latest.ttf') format('truetype'),
       url('http://i.s-microsoft.com/fonts/Segoe-UI/East-European/Normal/latest.svg#web') format('svg');
   font-weight:normal;
   font-style:normal;
}

/*mr_reg */
/*
@font-face {
    font-family: 'MyriadProRegular';
    src: url('http://aon-cdn.googlecode.com/files/myriadpro-regular_0.eot');
    src: url('http://aon-cdn.googlecode.com/files/myriadpro-regular_0.eot') format('embedded-opentype'),
         url('http://aon-cdn.googlecode.com/files/myriadpro-regular_0.woff') format('woff'),
         url('http://aon-cdn.googlecode.com/files/myriadpro-regular_0.ttf') format('truetype'),
         url('http://aon-cdn.googlecode.com/files/myriadpro-regular_0.svg#MyriadProRegular') format('svg');
    font-weight:normal;
    font-style:normal
}
*/
body{ color:red;}